#myCarousel {
  .carousel-caption {
    @include font-stack-roboto-regular;

    h1 {
      @include font-stack-roboto-regular;
      font-size: 32px;

      @media screen and (min-width: $screen-sm-min) {
        font-size: 42px;
      }

      @media screen and (min-width: $screen-md-min) {
        font-size: 48px; 
      }
    }

    p {
      @include font-stack-roboto-regular;
      font-size: 15px;

      @media screen and (min-width: $screen-sm-min) {
        font-size: 20px;
      }

      @media screen and (min-width: $screen-md-min) {
        font-size: 26px;
      }
    }
  }

  .carousel-inner {
    .item {
      &:first-child {
        .carousel-caption {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      &:nth-child(2) {
        .carousel-caption {
          top: 10%;

          @media screen and (max-width: 540px) {
            top: -20px;
          }

          @media screen and (max-width: 440px) {
            font-size: 25px;

            h1 {
              font-size: 25px;
            }
          }
        }
      }

      &:nth-child(3) {
        .carousel-caption {
          left: 0px;
          max-width: 41%;
          top: 20%;
          padding-left: 15px;

          @media screen and (max-width: $screen-xs-max) {
            top: 15px;
          }

          @media screen and (max-width: 540px) {
            top: 0;
            font-size: 25px;

            h1 {
              font-size: 25px;
            }
          }

          @media screen and (max-width: 440px) {
            top: 0;
            padding-top: 0;
            max-width: none;
            width: 100%;
          }
        }
      }
    }
  }

  .carousel-indicators {
    > li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      bottom: 0;
    }
  }
}
