.certifications-box {
  float: left;
  margin-top: 30px;
  width: 100%;
  position: relative;

  &__header {
    @media screen and (min-width: $screen-sm-min) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1400px) {
      padding: 0 120px;
    }

    @media screen and (max-width: 1399px) and (min-width: 1150px) {
      padding: 0 60px;
    }

    @media screen and (max-width: 1280px) {
      padding: 0 30px;
    }

    p {
      font-size: 16px;
      color: $brand-grey-text;

      @media screen and (max-width: $screen-xs-max) {
        font-size: 13px;
      }
    }

    > div {
      &:first-child {
        @media screen and (min-width: $screen-sm-min) {
          width: 33.32%;
          text-align: right;
          padding-right: 35px;
        }

        @media screen and (max-width: 900px) and (min-width: $screen-sm-min) {
          width: 40%;
        }
      }

      &:nth-child(2) {
        @media screen and (min-width: $screen-sm-min) {
          width: 66.67%;
          text-align: justify;
          padding-left: 35px;
          border-left: 1px solid $brand-orange;

          > p {
            padding-top: 15px;
          }
        }

        @media screen and (max-width: 900px) and (min-width: $screen-sm-min) {
          width: 60%;
        }
      }
    }
  }

  &__content {
    > div {
      @media screen and (min-width: $screen-sm-min) {
        padding-top: 30px;
      }

      @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(3n + 4) {
          clear: left;
        }
      }

      @media screen and (max-width: $screen-xs-max) {
        padding-top: 15px;
        text-align: center;

        &:nth-child(2n + 3) {
          clear: left;
        }

        img {
          max-width: 150px;
        }
      }

      h4 {
        color: $brand-orange;
        @include font-stack-roboto-bold;
        text-align: left;
      }

      p {
        text-align: left;
        color: $brand-grey-text;
      }
    }
  }

  h2 {
    color: $brand-orange;
    margin-bottom: 0;
    margin-top: 0;

    @media screen and (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }

    strong {
      color: $brand-grey-text;
    }
  }
}