.contact-form {
  background-color: $brand-grey-contact-bg;

  > div.container {
    text-align: center;
    padding: 40px 30px;
  }

  h2 {
    color: $brand-orange;
    margin-bottom: 35px;
    margin-top: 0;

    strong {
      color: $brand-grey-text;
    }
  }

  form {
    .form-group {
      input,
      textarea {
        border-radius: 0;
        color: black;
        border-color: black;
      }

      textarea {
        min-height: 240px;
        resize: none;
      }

      button.btn-primary {
        margin-top: 25px;
        background-color: $brand-orange;
        min-width: 140px;
        border-radius: 10px;
        border-color: $brand-orange;
        transition: background-color .4s ease, border-color .4s ease;

        &:hover {
          background-color: $brand-grey-text;
          border-color: $brand-grey-text;
        }
      }
    }
  }
}