[v-cloak] {
  display: none;
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-4%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-2%);
  }     
  100% {
    transform: translateX(0%);
  } 
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-4%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-2%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}

.product-page {
  position: relative;
  @include products-header-styles;

  &__animation-container {
    padding: 100px;
    background-color: grey;
    color: #FFF;
    background-image: url('/Fondos/stock-photo-futuristic-empty-stage-modern-future-background-technology-sci-fi-interior-concept-d-rendering-543638065.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    overflow: auto;
    max-height: 300px;

    > div {
      max-width: 400px;
      margin: 0 auto;
      padding: 150px;
      margin-bottom: 50px;

      &:first-child {
        // background-color: red;
        background-image: url('/img/animaciones/carbon/posterior.png');
        background-size: cover;
      }

      &:nth-child(2) {
        // background-color: blue;
        background-image: url('/img/animaciones/carbon/lamina.png');
        background-size: cover;
      }

      &:nth-child(3) {
        // background-color: green;
        background-image: url('/img/animaciones/carbon/frente.png');
        background-size: cover;
      }

      &:last-child {
        // background-color: yellow;
        margin-bottom: 0;
        background-image: url('/img/animaciones/carbon/frente.png');
        background-size: cover;

        &.animate {
            animation-name: slideRight;
            -webkit-animation-name: slideRight;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
            visibility: visible !important;
        }
      }
    }
  }

  &__download-container {
    position: absolute;
    top: -50px;
    z-index: 2;
    left: 45px;

    @media screen and (max-width: $screen-sm-max) {
      left: 15px;
    }

    @media screen and (max-width: $screen-xs-max) {
      left: 50%;
      margin-left: -60px;
    }

    .download-file-container {
      display: inline-block;
    }

    .download-file {
      color: $brand-grey-text;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;

      div {
        margin-top: -6px;
      }

      strong,
      small {
        display: block;
      }

      small {
        color: $brand-orange;
        text-transform: none;
        font-size: 1.2rem;
        margin-top: -3px;
      }

      svg {
        path {
          transition: fill .4s ease;
        }
      }

      &:hover {
        color: $brand-grey-text;
        text-decoration: none;

        small {
          color: $brand-orange;
          text-transform: none;
        }

        svg {
          path.icon-bg {
            fill: $brand-grey-text;
          }
        }
      }
    }
  }

  &__product-details-container {
    position: relative;
  }

  &__product-details-content {
    @media screen and (min-width: $screen-sm-min) {  
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      padding-top: 15px;
    }

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 100px;
      margin-bottom: 40px;
    }
  }

  &__product-image {
    @media screen and (max-width: $screen-xs-max) and (min-width: 600px) {
      text-align: center; 

      img {
        max-width: 450px;
      } 
    }

    @media screen and (min-width: $screen-sm-min) {  
      padding: 60px;
      width: 50%;
    }
  }

  &__product-info {
    @media screen and (min-width: $screen-sm-min) {
      width: 50%;
    }

    @media screen and (max-width: $screen-xs-max) {
      text-align: left;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 10px;
        font-size: 16px;

        @media screen and (max-width: $screen-xs-max) {
          font-size: 15px;
        }

        &:before {
          content: '•';
          display: inline-block;
          width: 40px;
          position: absolute;
          left: 28px;
          color: $brand-orange;
        }
      }
    }
  }
}
