[v-cloak] {
  display: none;
}

/*
==============================================
slideUp
==============================================
*/

@mixin slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 2s; 
  -webkit-animation-duration: 2s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }     
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}

@mixin slideUpFinal {
  animation-name: slideUpFinal;
  -webkit-animation-name: slideUpFinal;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUpFinal {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUpFinal {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(50%);
  }    
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-4%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-2%);
  }     
  100% {
    transform: translateX(0%);
  } 
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-4%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-2%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}

.product-page {
  position: relative;
  @include products-header-styles;

  &__image-text {
    @include font-stack-roboto-light;
    font-size: 26px;
    width: 35%;
    line-height: 1.35em;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 15px 20px;
    border-radius: 5px;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 22px;
      word-wrap: break-word;
      padding: 12px 17px;
    }

    @media screen and (max-width: $screen-xs-max) {
      font-size: 17px;
      padding: 5px 10px;
    }
  }

  &__image-wrapper {
    width: 65%;
  }

  &__animation-item-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }

  &__animation-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    > div {

    }
  }

  &__animation-container {
    padding: 45px 30px;
    background-color: grey;
    color: #FFF;
    background-image: url('/img/animaciones/fondos/1600x1600.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    overflow: hidden;
    max-height: 400px;
    @media screen and (min-width: $screen-lg-min) {
      max-height: 500px;
    }
    @media screen and (max-width: $screen-sm-max) {
      max-height: 350px;
    }

    &.carbon-performance {
      .product-page__animation-wrapper > div {
        &:first-child {
          .product-page__image {
            background-image: url('/img/animaciones/carbon/carbon1.png');
          }
        }

        &:nth-child(2) {
          .product-page__image {
            background-image: url('/img/animaciones/carbon/carbon2.png');
            order: 1;
          }

          .product-page__image-text {
            order: 2;
          }
        }

        &:nth-child(3) {
          .product-page__image {
            background-image: url('/img/animaciones/carbon/carbon3.png');
          }
        }

        //Animations part
        &:first-child {
          @media screen and (min-width: $screen-lg-min) {
            margin-top: 200px;
            // margin-bottom: 10px;
          }
          @media screen and (max-width: $screen-md-max) {
            margin-top: 90px;
            // margin-bottom: 10px;
          }
          @media screen and (max-width: $screen-sm-max) {
            // margin-top: 10px;
            margin-top: 200px;
          }
          @media screen and (max-width: $screen-xs-max) {
            // margin-top: 10px;
            margin-top: 50px;
          }
        }
        &:nth-child(2) {
          @media screen and (min-width: $screen-lg-min) {
            // margin-top: 10px;
            // margin-bottom: 10px;
          }
          @media screen and (max-width: $screen-sm-max) {
            // margin-top: 10px;
            margin-top: 35px;
            margin-bottom: 35px;
          }
        }
        &:nth-child(3) {
          @media screen and (min-width: $screen-lg-min) {
            // margin-top: 10px;
            margin-bottom: 200px;
          }
          @media screen and (max-width: $screen-md-max) {
            // margin-top: 10px;
            margin-bottom: 220px;
          }
          @media screen and (max-width: $screen-sm-max) {
            // margin-top: 10px;
            margin-bottom: 300px;
          }
        }
        //End of animations part
      }
    }

    &.ceramic-organic {
      .product-page__animation-wrapper > div {
        &:first-child {
          .product-page__image {
            background-image: url('/img/animaciones/ceramic/ceramic1.png');
          }
        }

        &:nth-child(2) {
          .product-page__image {
            background-image: url('/img/animaciones/ceramic/ceramic2.png');
            order: 1;
          }

          .product-page__image-text {
            order: 2;
          }
        }

        &:nth-child(3) {
          .product-page__image {
            background-image: url('/img/animaciones/ceramic/ceramic3.png');
          }
        }
      }
    }

    &.brake-shoe {
      .product-page__animation-wrapper > div {
        &:first-child {
          .product-page__image {
            background-image: url('/img/animaciones/shoe/zapata1.png');
          }
        }

        &:nth-child(2) {
          .product-page__image {
            background-image: url('/img/animaciones/shoe/zapata2.png');
          }

          .product-page__image-text {
            display: none;
          }
        }

        &:nth-child(3) {
          .product-page__image {
            background-image: url('/img/animaciones/shoe/zapata3.png');
            order: 1;
          }

          .product-page__image-text {
            order: 2;
          }
        }
      }
    }

    .product-page__image {
      margin: 0 auto;
      margin-bottom: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: $screen-lg-min) {
        height: 400px;
      }

      @media screen and (max-width: $screen-md-max) {
        height: 300px;
      }

      @media screen and (max-width: $screen-sm-max) {
        height: 170px;
      }

      &:first-child {
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.animated {
        animation-name: slideRight;
        -webkit-animation-name: slideRight;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        visibility: visible !important;
      }

      &.toStage {
        @include slideUpFinal;
      }
    }
  }

  &__download-container {
    position: absolute;
    top: -50px;
    z-index: 2;
    left: 45px;

    @media screen and (max-width: $screen-sm-max) {
      left: 15px;
    }

    @media screen and (max-width: $screen-xs-max) {
      left: 50%;
      margin-left: -60px;
    }

    .download-file-container {
      display: inline-block;
    }

    .download-file {
      color: $brand-grey-text;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;

      div {
        margin-top: -6px;
      }

      strong,
      small {
        display: block;
      }

      small {
        color: $brand-orange;
        text-transform: none;
        font-size: 1.2rem;
        margin-top: -3px;
      }

      svg {
        path {
          transition: fill .4s ease;
        }
      }

      &:hover {
        color: $brand-grey-text;
        text-decoration: none;

        small {
          color: $brand-orange;
          text-transform: none;
        }

        svg {
          path.icon-bg {
            fill: $brand-grey-text;
          }
        }
      }
    }
  }

  &__product-details-container {
    position: relative;
  }

  &__product-details-content {
    @media screen and (min-width: $screen-sm-min) {  
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      padding-top: 15px;
    }

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 100px;
      margin-bottom: 40px;
    }
  }

  &__product-image {
    @media screen and (max-width: $screen-xs-max) and (min-width: 600px) {
      text-align: center; 

      img {
        max-width: 450px;
      } 
    }

    @media screen and (min-width: $screen-sm-min) {  
      padding: 60px;
      width: 50%;
    }
  }

  &__product-info {
    @media screen and (min-width: $screen-sm-min) {
      width: 50%;
    }

    @media screen and (max-width: $screen-xs-max) {
      text-align: left;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 10px;
        font-size: 16px;

        @media screen and (max-width: $screen-xs-max) {
          font-size: 15px;
        }

        &:before {
          content: '•';
          display: inline-block;
          width: 40px;
          position: absolute;
          left: 28px;
          color: $brand-orange;
        }
      }
    }
  }
}
