#app {
  @include font-stack-roboto-regular;
  background-color: $body-bg;

  a {
    transition: color .4s ease;
  }

  .dropdown:hover .dropdown-menu {
    @media screen and (min-width: $screen-sm-min) {
      display: block;
    }
  }

  strong,
  b {
    @include font-stack-roboto-black;
  }

  p {
    @include font-stack-roboto-light;
    line-height: 1.15em;
  }

  .router-link-exact-active {
    color: $brand-orange;
    cursor: default;
  }
}
